@{
    ViewBag.Title = "ODataERP";
}
<div id="dialog"></div>
<div class="tabs">
    <ul>
        <li><a href="#create-sales-order">Create Sales Order</a></li>
        <li><a href="#release-goods">Release Goods</a></li>
        <li><a href="#post-goods-issue">Post Goods Issue</a></li>
        <li><a href="#post-customer-invoice">Post Customer Invoice</a></li>
        <li><a href="#dun-customer">Dun Customer</a></li>
        <li><a href="#analytics">Analytics</a></li>
    </ul>
    <div id="create-sales-order">
        <h2>Create Sales Order</h2>
        <h3>General</h3>
        <table>
            <tr>
                <td>
                    Customer name:
                </td>
                <td>
                    <input id="customer-name" /><button id="show-add-customer"></button>
                </td>
            </tr>
            <tr>
                <td colspan="2" id="create-new-customer">
                    <table>
                        <tr>
                            <td>
                                <h3>New Customer</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>Name:</td>
                            <td><input id="new-customer-name" /></td>
                        </tr>
                        <tr>
                            <td>Discount:</td>
                            <td>
                                <select id="new-customer-discount">
                                    <option value="0" selected="selected">0 &#37;</option>
                                    <option value="1">1 &#37;</option>
                                    <option value="2">2 &#37;</option>
                                    <option value="3">3 &#37;</option>
                                    <option value="4">4 &#37;</option>
                                    <option value="5">5 &#37;</option>
                                    <option value="10">10 &#37;</option>
                                    <option value="20">20 &#37;</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Country:</td>
                            <td><input id="new-customer-country" /></td>
                        </tr>
                        <tr>
                            <td>State:</td>
                            <td><input id="new-customer-state" /></td>
                        </tr>
                        <tr>
                            <td>City:</td>
                            <td><input id="new-customer-city" /></td>
                        </tr>
                        <tr>
                            <td>ZIP:</td>
                            <td><input id="new-customer-zip" /></td>
                        </tr>
                        <tr>
                            <td>Street:</td>
                            <td><input id="new-customer-street" /></td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td><input id="new-customer-phone" /> <button id="add-customer"></button></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    Priority:
                </td>
                <td>
                    <select id="priority-selection">
                        <option value="1" selected="selected">normal</option>
                        <option value="2">high</option>
                        <option value="0">low</option>
                    </select>
                </td>
            </tr>
        </table>
        <h3>Items</h3>
        <table>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            <tr id="order-item-new">
                <td id="order-item-num">1.</td>
                <td><input id="order-item-name" /></td>
                <td>
                    <select id="order-item-quantity"></select>
                </td>
                <td>
                    <span id="order-item-price">0,00</span> &euro;
                </td>
                <td>
                    <button id="order-add-item"></button>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Total Net Value</td>
                <td><span id="order-net">0,00</span> &euro;</td>
            </tr>
            <tr>
                <td>Discount</td>
                <td>
                    <select id="order-discount">
                        <option value="0" selected="selected">0 &#37;</option>
                        <option value="1">1 &#37;</option>
                        <option value="2">2 &#37;</option>
                        <option value="3">3 &#37;</option>
                        <option value="4">4 &#37;</option>
                        <option value="5">5 &#37;</option>
                        <option value="10">10 &#37;</option>
                        <option value="20">20 &#37;</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td><input type="text" id="order-shipping" value="0,00" />&euro;</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td><span id="order-tax">0,00</span> &euro;</td>
            </tr>
            <tr>
                <td>Total</td>
                <td><span id="order-total">0,00</span> &euro;</td>
            </tr>
        </table>
        <h3>Payment</h3>
        <table>
            <tr>
                <td>Payment Terms</td>
                <td>
                    <select id="order-payment-terms" />
                        <option value="14" selected="selected">14 days net</option>
                        <option value="30">30 days net</option>
                    </select>
                </td>
            </tr>
        </table>
        <h3>Delivery</h3>
        <table>
            <tr>
                <td>Requested Delivery Date</td>
                <td>
                    <input type="text" id="order-delivery-date" />
                </td>
            </tr>
            <tr>
                <td>ATP Check</td>
                <td>
                    <button id="order-atp-check"></button>
                </td>
            </tr>
        </table>
        <button id="order-create"></button>
    </div>
    <div id="release-goods">
        <h2>Release Goods</h2>
        <div>
            Status:
            <select id="release-goods-status">
                <option value="0" selected="selected">releasable</option>
                <option value="1">deliverable</option>
                <option value="2">to be invoiced</option>
                <option value="3">completed</option>
            </select>
            and find
            <input type="text" id="release-goods-search" />
        </div>
        <table id="release-goods-table">
            <thead>
                <tr>
                    <th>Oder ID</th>
                    <th>Status</th>
                    <th>Requested Delivery Date</th>
                    <th>Customer</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button id="release-goods-button"></button>
    </div>
    <div id="post-goods-issue">
       <h2>Post Goods Issues</h2>
    </div>
    <div id="post-customer-invoice">
       <h2>Post Customer Invoice</h2>
    </div>
    <div id="dun-customer">
       <h2>Dun Customer</h2>
    </div>
    <div id="analytics">
       <h2>Analytics</h2>
    </div>
</div>
