@{
    ViewBag.Title = "ODataERP";
}
<div id="dialog"></div>
<div class="tabs">
    <ul>
        <li><a href="#create-sales-order">Create Sales Order</a></li>
        <li><a href="#release-goods">Release Goods</a></li>
        <li><a href="#post-goods-issue">Post Goods Issue</a></li>
        <li><a href="#post-customer-invoice">Post Customer Invoice</a></li>
        <li><a href="#dun-customer">Dun Customer</a></li>
    </ul>
    <div id="create-sales-order">
        <h2>Create Sales Order</h2>
        <h3>General</h3>
        <table>
            <tr>
                <td>
                    Customer name:
                </td>
                <td>
                    <input id="customer-name" />
                </td>
            </tr>
            <tr>
                <td>
                    Priority:
                </td>
                <td>
                    <select id="priority-selection">
                        <option value="1" selected="selected">normal</option>
                        <option value="2">high</option>
                        <option value="0">low</option>
                    </select>
                </td>
            </tr>
        </table>
        <h3>Items</h3>
        <table>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            <tr id="order-item-new">
                <td id="order-item-num">1.</td>
                <td><input id="order-item-name" /></td>
                <td>
                    <select id="order-item-quantity"></select>
                </td>
                <td>
                    <span id="order-item-price">0,00</span> &euro;
                </td>
                <td>
                    <button id="order-add-item"></button>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Total Net Value</td>
                <td><span id="order-net">0,00</span> &euro;</td>
            </tr>
            <tr>
                <td>Discount</td>
                <td>
                    <select id="order-discount" />
                        <option value="0" selected="selected">0 &#37;</option>
                        <option value="1">1 &#37;</option>
                        <option value="2">2 &#37;</option>
                        <option value="3">3 &#37;</option>
                        <option value="4">4 &#37;</option>
                        <option value="5">5 &#37;</option>
                        <option value="10">10 &#37;</option>
                        <option value="20">20 &#37;</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td><input type="text" id="order-shipping" value="0,00" />&euro;</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td><span id="order-tax">0,00</span> &euro;</td>
            </tr>
            <tr>
                <td>Total</td>
                <td><span id="order-total">0,00</span> &euro;</td>
            </tr>
        </table>
        <h3>Payment</h3>
        <table>
            <tr>
                <td>Payment Terms</td>
                <td>
                    <select id="order-payment-terms" />
                        <option value="14" selected="selected">14 days net</option>
                        <option value="30">30 days net</option>
                    </select>
                </td>
            </tr>
        </table>
        <h3>Delivery</h3>
        <table>
            <tr>
                <td>Requested Delivery Date</td>
                <td>
                    <input type="text" id="order-delivery-date" />
                </td>
            </tr>
            <tr>
                <td>ATP Check</td>
                <td>
                    <button id="order-atp-check"></button>
                </td>
            </tr>
        </table>
        <button id="order-create"></button>
    </div>
    <div id="release-goods">
        <h2>Release Goods</h2>
    </div>
    <div id="post-goods-issue">
       <h2>Post Goods Issues</h2>
    </div>
    <div id="post-customer-invoice">
       <h2>Post Customer Invoice</h2>
    </div>
    <div id="dun-customer">
       <h2>Dun Customer</h2>
    </div>
</div>
