@{
    ViewBag.Title = "ODataERP";
}
<div id="dialog"></div>
<div class="tabs">
    <ul>
        <li><a href="#crud-sales-order-tab">Sales Order</a></li>
        <li><a href="#crud-customer-tab">Customer</a></li>
        <li><a href="#crud-product-tab">Product</a></li>
        <li><a href="#change-status-tab">Change Status</a></li>
        <li><a href="#dun-customer-tab">Dun Customer</a></li>
        <li><a href="#analytics-tab">Analytics</a></li>
    </ul>
    <div id="crud-sales-order-tab">
        <h2>Sales Order</h2>
        Sales Orders:
        <ul id="sales-order-list"></ul>
        <h3>General</h3>
        <table>
            <tr>
                <td>
                    Customer name:
                </td>
                <td>
                    <input id="customer-name" /><button id="show-add-customer"></button>
                </td>
            </tr>
            <tr>
                <td colspan="2" id="create-new-customer">
                    <table>
                        <tr>
                            <td>
                                <h3>New Customer</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>Name:</td>
                            <td><input id="new-customer-name" /></td>
                        </tr>
                        <tr>
                            <td>Discount:</td>
                            <td><input id="new-customer-discount" /> &#37;</td>
                        </tr>
                        <tr>
                            <td>Firstname:</td>
                            <td><input id="new-customer-firstname" /></td>
                        </tr>
                        <tr>
                            <td>Lastname:</td>
                            <td><input id="new-customer-lastname" /></td>
                        </tr>
                        <tr>
                            <td>Street:</td>
                            <td><input id="new-customer-street" /></td>
                        </tr>
                        <tr>
                            <td>Street Number:</td>
                            <td><input id="new-customer-streetno" /></td>
                        </tr>
                        <tr>
                            <td>ZIP:</td>
                            <td><input id="new-customer-zip" /></td>
                        </tr>
                        <tr>
                            <td>City:</td>
                            <td><input id="new-customer-city" /></td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td><input id="new-customer-phone" /></td>
                        </tr>
                        <tr>
                            <td>E-Mail:</td>
                            <td><input id="new-customer-email" /> <button id="add-customer"></button></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    Priority:
                </td>
                <td>
                    <select id="priority-selection">
                        <option value="1" selected="selected">normal</option>
                        <option value="2">high</option>
                        <option value="0">low</option>
                    </select>
                </td>
            </tr>
        </table>
        <h3>Items</h3>
        <table>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            <tr id="order-item-new">
                <td id="order-item-num">1.</td>
                <td><input id="order-item-name" /></td>
                <td>
                    <select id="order-item-quantity"></select>
                </td>
                <td>
                    <span id="order-item-price">0,00</span> &euro;
                </td>
                <td>
                    <button id="order-add-item"></button>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Total Net Value</td>
                <td><span id="order-net">0,00</span> &euro;</td>
            </tr>
            <tr>
                <td>Discount</td>
                <td><input type="text" id="order-discount" value="0" /> &#37;</td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td><input type="text" id="order-shipping" value="0,00" />&euro;</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td><span id="order-tax">0,00</span> &euro;</td>
            </tr>
            <tr>
                <td>Total</td>
                <td><span id="order-total">0,00</span> &euro;</td>
            </tr>
        </table>
        <h3>Payment</h3>
        <table>
            <tr>
                <td>Payment Terms</td>
                <td>
                    <select id="order-payment-terms" />
                        <option value="14" selected="selected">14 days net</option>
                        <option value="30">30 days net</option>
                    </select>
                </td>
            </tr>
        </table>
        <h3>Delivery</h3>
        <table>
            <tr>
                <td>Requested Delivery Date</td>
                <td>
                    <input type="text" id="order-delivery-date" />
                </td>
            </tr>
            <tr>
                <td>ATP Check</td>
                <td>
                    <button id="order-atp-check"></button>
                </td>
            </tr>
        </table>
        <button id="crud-order-new-button"></button><button id="crud-order-button"></button>
    </div>
    <div id="crud-customer-tab">
       <h2>Customer</h2>
       Customers:
       <ul id="customer-list"></ul>
       <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" id="crud-customer-name" /></td>
        </tr>
        <tr>
            <td>Street:</td>
            <td><input type="text" id="crud-customer-street" /></td>
        </tr>
        <tr>
            <td>Street No:</td>
            <td><input type="text" id="crud-customer-streetno" /></td>
        </tr>
        <tr>
            <td>Zip:</td>
            <td><input type="text" id="crud-customer-zip" /></td>
        </tr>
        <tr>
            <td>City:</td>
            <td><input type="text" id="crud-customer-city" /></td>
        </tr>
        <tr>
            <td>Firstname:</td>
            <td><input type="text" id="crud-customer-firstname" /></td>
        </tr>
        <tr>
            <td>Lastname:</td>
            <td><input type="text" id="crud-customer-lastname" /></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" id="crud-customer-phone" /></td>
        </tr>
        <tr>
            <td>E-Mail:</td>
            <td><input type="text" id="crud-customer-email" /></td>
        </tr>
       </table>
       <button id="crud-customer-new-button"></button><button id="crud-customer-button"></button>
    </div>
    <div id="crud-product-tab">
       <h2>Product</h2>
       Products:
       <ul id="product-list"></ul>
       <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" id="crud-prodcut-name" /></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" id="crud-prodcut-price" /></td>
        </tr>
        <tr>
            <td>Stock:</td>
            <td><input type="text" id="crud-prodcut-stock" /></td>
        </tr>
        <tr>
            <td>Unit:</td>
            <td><input type="text" id="crud-prodcut-unit" /></td>
        </tr>
        <tr>
            <td>Monthly supply:</td>
            <td><input type="text" id="crud-prodcut-monthly-supply" /></td>
        </tr>
       </table>
       <button id="crud-product-new-button"></button><button id="crud-product-button"></button>
    </div>
    <div id="change-status-tab">
        <h2>Change Status</h2>
        <div>
            Status:
            <select id="change-status">
                <option value="0" selected="selected">releasable</option>
                <option value="1">deliverable</option>
                <option value="2">to be invoiced</option>
                <option value="3">completable</option>
            </select>
            and find
            <input type="text" id="change-search" />
        </div>
        <table id="change-table">
            <thead>
                <tr>
                    <th>Oder ID</th>
                    <th>Status</th>
                    <th>Requested Delivery Date</th>
                    <th>Customer</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button id="change-button"></button>
    </div>
    <div id="dun-customer-tab">
       <h2>Dun Customer</h2>
       <table id="dun-table">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Oder ID</th>
                    <th>Status</th>
                    <th>Requested Delivery Date</th>
                    <th>Total</th>
                    <th>Amount Paid</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button id="dun-button"></button>
    </div>
    <div id="analytics-tab">
       <h2>Analytics</h2>
       <table>
        <tr>
            <td>Average Duration:</td>
            <td id="analytics-avg-duration"></td>
        </tr>
        <tr>
            <td>Average number of issued dunnings per prodcut:</td>
            <td id="analytics-dpp"></td>
        </tr>
        <tr>
            <td>Average number of issued dunnings per sales order:</td>
            <td id="analytics-dps"></td>
        </tr>
        <tr>
            <td>Average amount of orders:</td>
            <td id="analytics-avg-orders"></td>
        </tr>
       </table>
    </div>
</div>
